# Python
__pycache__/
*.py[cod]
*.egg-info/

# Raw data
/data/raw/*.csv
/data/processed/*.csv

# Notebooks checkpoints
*.ipynb_checkpoints

# OS / IDE noise
.DS_Store
.env
.venv/
.vscode/
.idea/

# Jupyter Notebook
*.html
*.pdf
